name: Android with Github Action - CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.2'
      - uses: maierj/fastlane-action@v2.2.0
        with:
          lane: 'go'
      - uses: actions/upload-artifact@v3
        with:
          name: build-apks
          path: app/build/outputs/apk
      - uses: actions/upload-artifact@v3
        with:
          name: build-report
          path: app/build/reports